fastapi==0.115.6
uvicorn[standard]==0.32.1
httpx==0.28.1
pydantic-settings==2.7.1
python-multipart==0.0.20
notebooklm-py>=0.4.1

yt-dlp>=2026.1.1
# مكتبات إضافية لدعم التحميل وتجاوز الحظر
pyyaml
certifi
brotli
